@import url(css_reset.css);
@import url('https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=telma@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --clr-dark: #16110b;
    --clr-light: #fbf4e7;
}

body{
    margin: 0px;
    background-color: var(--clr-light);
    display: flow-root;
    scroll-snap-type: y mandatory;
}

#about_us_html {
    height: 100%;
}

/* Header styles */
#mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    width: 100%;
    height: 150px;

}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 1.25rem;
}

.nav_links li a {
    color: #20252e;
    font-size: 1.25rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-shadow: none;

    transition: all 0.3s ease-in-out;
}

/*
.nav_links li a:hover {
    text-shadow: 0 0 1em currentColor;
}
*/

#websiteImageLogo {
    margin-left: 1rem;
    width: 12.5rem;
    height: auto;
}

#websiteTitle{
    font-size: clamp(0.625rem, 0.9375rem, 1.25rem);
    font-family: 'Stardom', sans-serif;
    color: #20252e;
}

.media_links {
    display: flex;
    flex-direction: row;
}

#tiktok1 {
    margin-right: 1rem;

    width: 25px;
    height: auto;
}

#instagram1{
    margin-right: 1rem;
    width: 25px;
    height: auto;
}

#facebook1{
    margin-right: 1rem;
    width: 25px;
    height: auto;
}

#twitter1{
    margin-right: 1rem;
    width: 25px;
    height: auto;
}

#menuBar{
    margin-right: 1rem;
    width: 25px;
    height: auto;
}

/* Main styles */
.bannerContainer{
    margin: 0;
    width: 100%;
    height: 100%;

    margin-bottom: 6.25rem;
}

.bannerContainer img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.purchaseButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    margin-bottom: 6.25rem;
}

.purchaseButton button {
    scale: 0;
    opacity: 0;

    width: 7.5rem;
    height: 3.25rem;

    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    color: #000000;
    font-size: 0.9375rem;
    font-family: 'Satoshi', sans-serif;
    font-weight: 662;

    animation: buttonFade 0.5s ease-out 0.5s 1 normal forwards;
}

@keyframes buttonFade {
    from {
        scale: 0;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

/*About us grid*/

.about_grid_container {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
    grid-template-areas: 
        "box1 box2"
        "box3 box4"
        "box5 box4";
    
    margin: 0 1rem;
    background-color: none;

    align-items: center;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item img {
    border-radius: 0.5rem;
    object-fit: contain;
}

.grid-item:hover {
    animation: imageScaleUp 0.2s ease-out 0s normal forwards;
}

.grid-item-1 {
    grid-area: box1;

    width: 100%;
    height: 100%;
}

.grid-item-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-item-2 {
    grid-area: box2;
    height: 100%;
}

.grid-item-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item-3 {
    grid-area: box3;
    width: 100%;
    height: 100%;
}

.grid-item-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item-4 {
    grid-area: box4;
    height: 100%;
}

.grid-item-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item-5 {
    grid-area: box5;
    width: 100%;
    height: 389px;
}

.grid-item-5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes imageScaleUp {
    from {
        scale: 1;
    }

    to {
        scale: 1.009;
    }
}

.firstBlockContainer{
    scale: 0.9;

    margin: 0;
    margin-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    
}

.firstBlockContainer img {
    width: 100%;
}

.secondBlockContainer{
    scale: 0.9;

    margin: 0;
    margin-top: 1.25rem;
    display: flex;
}

.block{
    border-radius: 0.5rem;
    margin: 0;
    width: 100%;
    height: auto;

    background: none;

    overflow: hidden;

    box-shadow: none;
}

.introductionText {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1rem;
    margin-bottom: 6.25rem;
}

.introductionText p {
    font-size: 1.25rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

#aboutUsBlock {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
}

.storySection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    width: 100%;
    height: 100%;
}

.storySectionText {
    width: 100%;
    height: 100%;

    /*padding: 0 clamp(1.563rem, 2.5rem, 3.125rem);*/

    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-bottom: 100px;
}

.storySectionText h2 {
    color: #20252e;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.1875rem;
}

.storySectionText p {
    color: #20252e;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

#environmentText {
    color: #20252e;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
    margin-top: 3.125rem;
}

#environmentBlock {
    padding-bottom: 1.25rem;
}

#environmentBlock section {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: none;
}

.image{
    border-radius: 0.5rem;

    max-width: 100%;
    height: auto;
}

#welcomeText{
    text-align: center;
    margin: 0;

    padding-left: 6.25rem;
    padding-right: 6.25rem;
    padding-top: 6.25rem;

    color: #f0ece7;
    font-family: 'Albert Sans', sans-serif;
    font-size: clamp(1.25rem, 2.5vw + 1rem, 5rem);
}

#welcomeParagraph{
    text-align: center;
    margin: 0;

    padding-left: 3.125rem;
    padding-right: 3.125rem;
    padding-top: 0.625rem;

    color: #20252e;
    font-family: 'Albert Sans', sans-serif;
    font-size: clamp(0.75rem, 1vw, 0.9375rem);
    line-height: 2.1;
}

.image img{
    margin: 0px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.titles{
    font-family: 'Allura', cursive;
    color: #20252e;
    font-size: 2.1875rem;
}

.mainText{
    color: #20252e;

    font-size: 1.25rem;
    font-family: 'Albert Sans', sans-serif;

    margin-left: clamp(1.563rem, 2.5rem, 3.125rem);
    margin-right: clamp(1.563rem, 2.5rem, 3.125rem);

    line-height: 2.0;
}

/* Image Scroller */
.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list img {
    height: 600px;
    width: 600px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.scroller {
    width: 100%;
    margin-bottom: 20px;
}

.inner_scroller {
    padding-block: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.scroller[data-animated=true] {
    overflow: hidden;
}

.scroller[data-animated=true] .inner_scroller {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
    
}

.scroller[data-animated=false] .inner_scroller {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* Image Slider */

.slideContainer {
    margin: 0;
    margin-bottom: 100px;

    scale: 0.9;

    width: 100%;
    height: 600px;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding: 0 24px;

    border-radius: 0.5rem;
}

.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    width: 100%;
    height: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}
  

/* Footer styles */
.footerMedia {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    height: auto;
    width: auto;
}

#tiktok{
    margin: 0.3125rem;

    width: 20px;
    height: auto;
}

#instagram{
    margin: 0.3125rem;

    width: 20px;
    height: auto;
}

#facebook{
    margin: 0.3125rem;

    width: 20px;
    height: auto;
}

#twitter{
    margin: 0.3125rem;

    width: 20px;
    height: auto;
}

#footerCopyright{
    margin: 0;

    font-size: 0.625rem;
    font-family: 'Albert Sans', sans-serif;
    color: #20252e; 
}

.footerText{
    margin: 0;

    font-size: 0.9375rem;
    font-family: 'Albert Sans', sans-serif;
    color: #20252e;
    
}

footer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Candle Swiper Styles */
/**/

/* Product Page Styles */
.productCardContainer {
    scroll-snap-type: x mandatory;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    
    background: none;
    width: 100%;
    height: 100%;

    margin: 100px 0;
}

.productCardContainer hr {
    border: none;
    width: 70%;
    height: 5px;
    background-color: #fcf0da;
    border-radius: 0.5rem;
}

.productCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 0.5rem;
    height: 500px;
    width: 90%;
    margin: 0 5%;
}

.productCardImage {
    width: 50%;
}

#spotifyPlaylist {
    margin-left: 30px;
    height: 200px;
    width: 100%;
}

.productCardImage img {
    height: 100%;
    max-height: 500px;

    border-radius: 0.5rem;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.productCardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;

    padding-left: clamp(0px, 25px, 50px);
    padding-right: clamp(0px, 25px, 50px);
    padding-bottom: 10px;

    width: 50%;
}

.productCardText h3 {
    font-size: 3rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.productCardText p {
    font-size: 2.2rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}
/**/

/* Contact Styling */
.contactBlock{
    height: 100%;
    width: 100%;

    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: 0.5rem;
    text-decoration: none;
}

.contactBlock h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.contact-inputs {
    width: 75%;
    height: 70px;
    border: none;
    outline: none;

    padding-left: 25px;
    font-weight: 500;
    border-radius: 0.5rem;
}

.contactBlock hr {
    border: none;
    width: 200px;
    height: 5px;
    background-color: #20252e;
    border-radius: 0.5rem;
}

.contactBlock textarea {
    margin: 0px 20px;
    height: 200px;
    border-radius: 1rem;
}

.contactBlock button {
    margin-bottom: 50px;
    font-size: 1rem;
    border: none;
    outline: none;
    text-decoration: none;

    height: 50px;
    background-color: #fff;
    border-radius: 0.5rem;
}

.contact-inputs:focus {
    border: 2px solid #20252e;
}

/* Adaptive Styling */

@media (min-width: 1060px) {
    .firstBlockContainer{
        flex-direction: row;
    }

    .storySection {
        flex-direction: row;
        gap: 2rem;
    }

    .storySectionText {
        width: 50%;
    }
    .storySection img {
        width: 50%;
    }

    .productContainer {
        gap: 2rem;
    }

    #product {
        flex-direction: row;
        gap: 0rem;
    }

    #product section {
        gap: 3rem;
        width: 50%;
        height: 100%;
        /*
        height: 32.5rem;
        */
    }

    #productImage {
        object-fit: contain;
        width: 50%;
        height: 50%;
    }
    
    .block{
        width: 997px;
        height: 500px;
    }

    .image{
        width: 800px;
        height: 500px;
    }
}

@media (max-width: 1059px) {
    .cardContainer div{
        width: 25%;
    }
}

@media (max-width: 805px) {
    #tiktok1{
        display: none;
    }

    #instagram1{
        display: none;
    }

    #facebook1{
        display: none;
    }

    #twitter1{
        display: none;
    }

    #menuBar{
        display: flow-root;
    }

    #websiteHome{
        display: none;
    }

    #websiteAbout{
        display: none;
    }

    #websiteOrder{
        display: none;
    }

    #websiteContact {
        display: none;
    }

    #websiteProducts {
        display: none;
    }

    .nav_links li {
        padding: 0;
    }
}

@media (min-width: 805px) {
    #menuBar{
        display: none;
    }
}

@media (max-width: 600px) {
    .productCard {
        flex-direction: column-reverse;
        gap: 2rem;
        height: auto;
    }

    .productCardText{
        width: 100%;
    }

    #spotifyPlaylist {
        margin: 0;
    }
}

@media (min-width: 610px) {
    .scroller[data-animated=false] .tag-list img {
        width: 25%;
        height: auto;
    }
}

@media (max-width: 420px) {
    /*width = 100% with margins for the gird*/
    .about_grid_container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 410px) {
    .contact-inputs {
        width: 300px;
        height: 50px;
        border: none;
        outline: none;
    
        padding-left: 25px;
        font-weight: 500;
        border-radius: 0.5rem;
    }

    .scroller[data-animated=false] .tag-list img {
        height: 400px;
        width: 400px;
    }
}